* {
  margin: 0;
  font-family:Poppins;
}

.icons{
  font-size: 25px;
}

.main-body h1{
  font-size: 28px;
  font-weight: 600;
}

/* Navigation Bar */
nav {
  background-color: #fff;
  border: 1px solid #bcbcbc;
  border-right: 0;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.logo {
  height: 35px;
  width: auto;
}

.nav-rightside {
  display: flex;
  margin-right: 200px; 
  align-items: center;
}

.nav-rightside i {
  font-size: 23px;
}

.sign-in-btn {
  padding: 5px 10px;
  font-size: 20px;
  margin-left: 10px;
  background-color: #fddb32;
  border: none;
  border-radius: 10px;
  font-weight: 500;
}

.nav-leftside {
  display: flex;
  align-items: center;
  margin-left: 200px; /* Reduced margin for better alignment */
  gap: 30px;
}

.menu i {
  font-size: 18px;
  padding: 0 3px;
  background-color: white;
  color: #000; /* Changed color value to hex */
}
/* Nav bar ends */

/* Main Body */
.main-body {
  padding: 100px 210px 0 200px; 
 
}

.image-container {
  width: 70%;
  overflow: hidden;
  /* border: 1px solid black; */
  height: 405px;
  display: flex;
  gap: 5px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);

}

.image-container .div1 .img {
  height: 405px;
  box-shadow: 0 8px 20px rgba(0.5, 0.8, 0.8, 0.5);

}

.hotel-Name-Add {
  width: 75%;
  /* border: 1px solid black; */
  margin: 20px auto;
  padding-left: 30px;

}
#hotelName{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 4px;
}
#hotelAddress{
  font-size: 18px;
}
#hotelAddress span{
  margin-right: 5px;
}

/* Infpormation below images */
.info {
  width: 100%;
  display: flex;
  gap: 50px;
  margin-top: 80px ;
}

.info-text {
  width: 100%;
 
}

.info-feature-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 50px; 
}

.feature-one {
  display: flex;
  gap: 15px;
}
.feature-one h3{
  font-weight: 500;
  font-size: 18px;
}
.feature-one p{
  color: rgba(97, 97, 97, 0.807);
  font-size: 14px;
}

.info-hotel-para {
  margin: 50px 0; /* Combined margin */
}
.info-whatOffers{
  margin: 50px 0;
}
.info-whatOffers h1{
 font-weight: 500;

}

.offers {
  display: flex;
  gap: 100px;
  margin: 20px 0 30px 0;
}

.offer-one {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.priceCard {
  
  height: 400px;
  width: 370px;
  position: sticky;
  top: 150px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);


}



.priceCard p {
  margin: 0;
}

.priceCard span {
  font-weight: 500;
  font-size: 22px;
}

.priceCard-dates {

  

  display: flex;
  justify-content: space-between;
}


.priceCard-dates label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}

.priceCard #checkIn{
  border: 1px solid #ababab;

  border-bottom: none;
  width: 160px;
  height: 60px;
  padding: 3px 8px;
  padding-bottom: 5px;
  border-radius: 8px 0 0 0 ;
  border-left: none;
  border-top: none;
}
.priceCard #checkOut{
  border: 1px solid #ababab;
  border-bottom: none;
  width: 160px;
  height: 60px;
  padding: 3px 8px;
  padding-bottom: 5px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0 8px 0 0 ;
}

.priceCard-dates input {
  width: 92%;
  padding: 5px;
  border: none;
  
}
.three-box{
  width: 100%;
  /* border: 1px solid red; */
  border: 1px solid #ababab;
  margin-top: 20px;
  border-radius: 8px;
}

.priceCard select {
  width: 100%;
  padding: 10px;
  margin-top: 0px;
  border: 1px solid #ababab;
  border-radius: 0 0 8px 8px ;
  border-left: none;
  border-right: none;
  border-bottom: none;
  outline: none;
}

.priceCard button {
  width: 100%;
  padding: 10px;
  background-color: #FDDB32;
  color: #000000;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 5px;
}

.total-amt {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.total-amt p {
  margin: 5px 0;
}

.amt-before-tax {
  margin-top: 10px;
  border-top: 1px solid #ababab;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.amt-before-tax p {
  margin: 5px 0;
}

/* reviews */
.review{
  margin-top: 40px;
}

.review-card {
  
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);

}


.name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.name img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-right: 10px;
}

.name h3 {
  margin: 0;
  font-size: 1.2em;
}

.name p {
  margin: 0;
  color: #666;
}

/* Review text */
.review-card p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
}

.img-name-div{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.icon {
  width: 24px; 
  height: 24px; 
 
}
.stars{
  display: flex;
  gap: 5px;
  align-items: center;
}


/* footer */

body{

  line-height: 1.5;
  font-family: 'poppins',sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin: auto;
}
ul{
  list-style: none;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer{
  background-color: #e1e1e19a;
  padding: 70px 0;
  margin-top: 100px;
}
.footer-col{
  width: 25%;
  padding: 0 20px;
  
}
.footer-col h4{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: black;
text-decoration: none;
font-weight: 300;

display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: black;
  font-weight: 400;
  padding-left: 10px;
}
.footer-col .social-links a{

  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0px 10px 10px 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000000;
  transition: all 0.3s ease;
  
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #bababa;
}

/* responsive */

@media(max-width: 767px ){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}
@media(max-width: 450px ){
  .footer-col{
      width: 100%;
     
  }
}



