@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}


/* css for navigation bar */

nav {
    background-color: #FFFFFF;
    border: 1px solid #bcbcbc;
    border-right: 0;
    display: flex;
    position: relative;
    padding: 10px 0;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0;
}

/* logo image */
.logo {
    height: 35px;
    width: auto;
}

/* navigation bar right side */
.nav-rightside {
    display: flex;
    margin-right: 40px;
    align-items: center;
}

/* heart image */
.nav-rightside i {
    font-size: 23px;
}

/* sign in button */
.sign-in-btn {
    padding: 5px 10px;
    font-size: 20px;
    margin-left: 10px;
    background-color: #FDDB32 ;
    border: none;
    border-radius: 10px;
}


/* navigation bar left side */
.nav-leftside {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;

}

.menu i {
    font-size: 18px;
    padding: 0 3px;
    background-color: white;
    color: black;
}

/* nav bar ends .................. */

/* section  */
.p1 {
    display: flex;
}


/* css for sidebar .............*/
.sidebar {
    height: 95vh;
    width: 15%;
    border: 1px solid #bcbcbc;
    border-top: 0;
    position: fixed;
    text-align: center;
    /* padding: 10px 10px; */
}

.icon-info {
    font-size: larger;
    font-weight: 500;
    margin-right: 50px;
    color: #00000089;
}

.iconbtn-1 {
    background-color: white;
    margin: 29px 0px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.iconbtn-2 {
    background-color: white;
    margin: 17px 0px;
    border-radius: 10px;
    padding: 5px;
    border: none;
}


.iconbtn-1:hover {
    background-color: #EBEBEB;
}

.iconbtn-2:hover {
    background-color: #EBEBEB;
}

.items-1 i {
    font-size: 28px;
    margin: 0px 34px 0px 24px;
    color: #777777;

}

.items-2 i {
    font-size: 28px;
    margin: 0px;
    color: #777777;
    /* thala for a reason  */
}

/* sidebar ends ................. */


/* css for mainpage.............. */
.mainpage {
    height: 100%;
    width: 83%;
    color: #333333;
    /* border: 1px solid red; */
    padding: 20px 30px 10px 30px;
    margin-left: 18%;
}

/* title of page */
span {
    font-size: 2vw;
    font-weight: 500;
}


/* search, date, time booking bar.... */
.search {
    height: 50px;
    width: 90%;
    border-radius: 75px;
    margin-top: 17px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 12px #bcbcbc;
}

/* big image */
/* div element in which the img is fixed */
.bigImage {
    height: 17vw;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}

/* actual image */
.hero-img {
    width: 100%;
    height: 100%;
}

.bigImage-text {
    position: absolute;
    top: 20%;
    left: 2%;
    color: white;
    font-size: 1.8vw;
    font-weight: 500;
}


/* css for grid....... */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 272px));
    grid-gap: 2rem;


}

/* card */

.card {
    /* border: 1px solid black; */
    position: relative;
    margin: 3px auto;
}

.card-img {
    width: 100%;
    border-radius: 8px;
    position: relative;
}

.card-heart{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 22px;
    background-color: #ffffff00;
    border: none;
}



.card-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 10px;
}

.card h4 {
    font-size: 16px;
    font-weight: 500;
}

.card p {
    font-size: 13px;
    font-weight: 500;
    color: rgb(116, 114, 114);
}

.card span {
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.card-rating p {
    color: black;
    font-size: 16px;
}

.card-comment {
    background-color: rgb(254, 230, 11);
    color: black;
    padding: 1px 3px;
    border-radius: 3px;
    position: absolute;
    bottom: 3px;
    right: 10px;
}





/* Footer */

footer {
    height: 100%;
    width: auto;
    border: 1px solid pink;
}

.hidden {
    display: none;
}