/* Reset Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body styles */
body {
    display: flex;
    background-color: #fbfbfb;
    color: #3a3a3a;
}

/* Anchor tag styles */
a {
    text-decoration: none;
}

/* Sidebar styles */
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100vh;
    padding: 1vh 1.7rem;
    color: white;
    overflow: hidden;
    border-right: 1px solid #cfcaca;
    transition: all 0.3s linear;
}

/* Logo styles */
.logo {
    margin-top: 5px;
    height: 80px;
    padding: 10px 10px;
}

.logo img {
    height: 40px;
}

/* Menu styles */
.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1.2rem;
    margin: 10px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
    background-color: #e7e7e7;
}

.menu a {
    color: #222222;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a i {
    font-size: 1.2rem;
}

.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* .mainpage{
    border: 2px solid red;
    height: 42rem;
    width: 68rem;
    margin: 56px 93px;
} */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper h1 {
    font-size: 2.2rem;
    padding: 1vh 1vw;
    font-weight: 600;
}

/* Table styles for all bookings section */
.all-bookings thead {
    background-color: #fdc667;
}

.all-bookings th {
    padding: 0.5rem 1rem;
}

.all-bookings table {
    width: 100%;
    font-size: 18px;
}

.all-bookings .status {
    width: fit-content;
}

.all-bookings tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

.all-bookings td {
    padding: 1rem;
}

.all-bookings tbody tr:nth-child(even) {
    background-color: #e9ecef;
}