<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EZStay</title>

  <!-- CSS -->
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/style.css" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />


</head>

<body>
  <!-- Navigation Bar Start -->
  <nav>
    <!-- Left side of navigation bar -->
    <div class="nav-leftside">
      <button class="menu"><i class="fa-solid fa-bars"></i></button>
      <img class="logo" src="images/logo.svg" alt="img" />
    </div>

    <!-- Right side of navigation bar -->
    <div class="nav-rightside">
      <div class="bookmark">
        <i class="ri-heart-fill"></i>
      </div>
      <!-- <a href="login.html"><button class="btn sign-in-btn">Sign in</button></a> -->
      <script>
        const urlParams = new URLSearchParams(window.location.search);
        const username = urlParams.get('username');
        
        if (username) {
          document.write('<button class="btn sign-in-btn">' + username + '</button>');
        } else {
          document.write('<a href="login.html"><button class="btn sign-in-btn">Sign in</button></a>');
        }
      </script>
     
    </div>
  </nav>
  <!-- Navigation Bar End -->


  <!-- Section -->
  <section class="p1">
    <!-- Sidebar -->
    <div class="sidebar">
      <div id="item-container">
        <div class="items-1">
          <button class="iconbtn-1">
            <i class="ri-account-circle-fill"></i>
            <!-- <a href="login.html" class="icon-info">Sign in</a> -->
            <script>
              const urlParam = new URLSearchParams(window.location.search);
              const usernam = urlParam.get('username');
              if (usernam) {
                document.write('<a href="/logout" class="icon-info">Sign out</a>');
          } else {
            document.write('<a href="login.html" class="icon-info">Sign in</a>');
              }

            </script>
          </button>
        </div>


        <div class="items-1">
          <button class="iconbtn-1">
            <a href="userdashboard.html">
              <i class="ri-compass-3-fill"></i>
            <p class="icon-info">Dashboard</p>
            </a>
            
          </button>
        </div>
        <!-- <div class="items-1">
          <button class="iconbtn-1">
            <i class="ri-hotel-bed-fill"></i>
            <p class="icon-info">Stays</p>
          </button>
        </div> -->
        <div class="items-1">
          <button class="iconbtn-1">
            <i class="ri-hotel-line"></i>
            <p class="icon-info"><a href="#hotels">Hotels</a></p>
          </button>
        </div>
        <div class="items-1">
          <button class="iconbtn-1">
            <i class="ri-briefcase-fill"></i>
            <a href="business.html" class="icon-info">Business</a>
          </button>
        </div>
        <div class="items-1">
          <button class="iconbtn-1">
            <i class="ri-heart-fill"></i>
            <p class="icon-info"><a href="tripguide.html">Trips</a></p>
          </button>
        </div>
        <div class="items-1">
          <button class="iconbtn-1">
            <i class="ri-feedback-fill"></i>
            <p class="icon-info"><a href="feedback.html">Feedback</a></p>
          </button>
        </div>
        <div class="items-1">
          <button class="iconbtn-1">
            <i class="ri-hotel-bed-fill"></i>
            <p class="icon-info">Stays</p>
          </button>
        </div>


      </div>
    </div>

    <!-- Main Page -->
    <!-- pop up window -->
    <button class="close-modal hidden">&times;</button>
    <div class="modal hidden">
    </div>



    <div class="mainpage">
      <span>Discover your new favourite stay</span>

      <!-- Search, Date, Time Booking Bar -->
      <div class="search">
        <form action="">
          <div class="search-bar-divs">
            <label>Where</label>
            <input type="text" placeholder="Destination" />
          </div>

          <div class="search-bar-divs">
            <label>Check in</label>
            <input type="date" placeholder="Add dates" />
          </div>

          <!-- <div class="search-bar-divs">
            <label>Check out<output></output></label>
            <input type="date" placeholder="add dates" />
          </div> -->
          <div class="search-bar-divs">
            <label>age<output></output></label>
            <input type="text" placeholder="age" />
          </div>

          <div class="search-bar-divs Who">
            <label>Who</label>
            <input type="text" placeholder="guest" />
            <!--             
            <select name="adults" id="adults">
              <option value="1"> Adult (Age 13 or above)</option>
              <option value="2"> Children (Ages 2–12)</option>
              <option value="3"> Infants (Under 2)</option>
            </select> -->
          </div>

          <div>
            <button class="search-logo" type="submit">
              <i class="ri-search-line"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="bigImage">
        <img class="hero-img" src="images/kerala-image.png" alt="" />
        <p class="bigImage-text">
          EZStay <br />
          Where comfort meets clicks, <br />
          and your dream stay is just <br />
          a tap away ! <br />
        </p>
      </div>
      <h2>Hotels near you</h2>

      <div class="card-container" id="hotels"></div>

      <!-- Drop down on guest in search bar -->
      <div class="guest-box">
        <div class="guest-adult">
          <div>
            <h4>Adult</h4>
            <p>Ages 13 or above</p>
          </div>

          <div class="guestIncr">
            <i class="ri-subtract-line subGuest"></i>
            <p class="noOfGuest">1</p>
            <i class="ri-add-line addGuest"></i>
          </div>
        </div>

        <hr class="hr" />

        <div class="guest-adult">
          <div>
            <h4>Children</h4>
            <p>Below 13</p>
          </div>

          <div class="guestIncr">
            <i class="ri-subtract-line subGuest"></i>
            <p class="noOfGuest">1</p>
            <i class="ri-add-line addGuest"></i>
          </div>
        </div>

        <button class="crossCut-guest-box">&times;</button>

      </div>


    </div>




    </div>
  </section>
  <!-- End of Section -->


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li>
              <a href="./aboutus.html"> about us</a>
            </li>
            <li>
              <a href="./services.html"> our services</a>
            </li>
            <li>
              <a href="./business.html"> work with us</a>
            </li>
            <li>
              <a href="#"> press key</a>
            </li>
          </ul>

        </div>

        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li>
              <a href="FAQ.html">FAQ</a>
            </li>
            <li>
              <a href="#">booking status</a>
            </li>
            <li>
              <a href="#">returns</a>
            </li>
            <li>
              <a href="#">payment options</a>
            </li>
          </ul>

        </div>

        <div class="footer-col">
          <h4>learn more</h4>
          <ul>
            <li>
              <a href="./learnmore.html">privacy</a>
            </li>
            <li>
              <a href="./learnmore.html">security</a>
            </li>
            <li>
              <a href="./learnmore.html">terms</a>
            </li>
          </ul>

        </div>

        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>



      </div>

    </div>
  </footer>
  <!-- Script -->

 
 
  
  <script src="js/script.js"></script>
  <script src="https://kit.fontawesome.com/5050694ff5.js" crossorigin="anonymous"></script>


</body>

</html>