<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/learnmore.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="sidebar">
      <!-- Logo -->
      <div class="logo">
        <img src="images/logo.svg" alt="" />
      </div>
      <!-- Menu items -->
      <ul class="menu">
        <li class="active">
          <a href="#">
            <i class="fas fa-tachometer-alt"></i>
            <span>Privacy policy</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-user"></i>
            <span>Security</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-user-group"></i>
            <span>Terms of service</span>
          </a>
        </li>

        <!-- Logout button -->
        <li class="logout">
          <a href="./business.html">
            <i class="fas fa-sign-out-alt"></i>
            <span>Sign Out</span>
          </a>
        </li>
      </ul>
    </div>

    <section class="privacy">
      <div class="heading">
        <h1> EZSTAY Privacy</h1>
      </div>
      <div class="main-privacypolicy">
        <h4>
            privacy policy
        </h4>
        <p>
            This Privacy Policy describes how EZYSTAY collects, uses, and protects the personal information you provide when using our website or mobile application.
        </p>
        <h4>
            Information We Collect
        </h4>
        <p>
            <ul>
                When you use EZYSTAY, we may collect the following types of personal information:
                <li>
                    Contact Information: such as your name, email address, phone number, and mailing address.
                </li>
                <li>
                    Booking Information: including details of your hotel reservations, travel plans, and preferences.
                </li>
                <li>
                    Payment Information: such as credit card details or other payment methods used for booking.
                </li>
                <li>
                    Device Information: including IP address, browser type, operating system, and device identifiers.
                </li>
                <li>
                    Usage Information: such as pages visited, search queries, and interactions with our platform.
                </li>
            </ul>
        </p>
        <h4>
            How We Use Your Information
        </h4>
        <p>
            <ul>
                We may use the personal information we collect for the following purposes:
                <li>
                    To provide and personalize our services, including processing bookings and reservations.
                </li>
                <li>
                    To communicate with you regarding your bookings, updates, and promotional offers.
                </li>
                <li>
                    To improve our website and mobile application, including analyzing usage patterns and trends.
                </li>
                <li>
                    To prevent fraud and ensure the security of our platform and users.
                </li>
                <li>
                    To comply with legal obligations and enforce our Terms of Service.
                </li>
            
            </ul>
            
        </p>
        
       
        <h4>Information Sharing</h4>
        <p> 
            <ul>
                We may share your personal information with third parties in the following circumstances:
                <li>
                    With service providers and business partners who assist us in delivering our services, such as hotels, payment processors, and marketing agencies.
                </li>
                <li>
                    With law enforcement agencies, government authorities, or legal entities when required by law or to protect our rights and interests.
                </li>
                <li>
                    With your consent or at your direction, such as when you choose to share your information with a third-party service.
                </li>
        </ul>
            
        </p>
        <h4>Data Security</h4>
        <p>EZYSTAY takes the security of your personal information seriously and employs appropriate measures to protect it from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.
            
        </p>
        <h4>Your Choices</h4>
        <p>
            You have the right to access, update, or delete your personal information stored with EZYSTAY. You may also opt-out of receiving promotional communications from us at any time by following the instructions provided in the communication or contacting us directly.
        </p>
        <h4>Children's Privacy</h4>
        <p>
            EZYSTAY does not knowingly collect personal information from children under the age of 13. If you are a parent or guardian and believe that your child has provided us with personal information without your consent, please contact us immediately, and we will take steps to remove such information from our systems.


        </p>
        <h4>Changes to This Privacy Policy</h4>
        <p>
            EZYSTAY may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We encourage you to review this policy periodically for any updates.
        </p>
        <h4>Contact Us</h4>
        <p>
            If you have any questions, concerns, or requests regarding this Privacy Policy or the handling of your personal information, please contact us <a href="#">privacy@ezstay.com.</a>.
        </p>
       
      </div>
    </section>


    <section class="security hidden">
      <div class="heading">
        <h1>EZSTAY security</h1>
      </div>
      <div class="main-security">
        <h4>Security Statement</h4>
        <p>
            At EZYSTAY, we take the security of your personal information seriously and are committed to safeguarding it against unauthorized access, disclosure, alteration, or destruction. This Security Statement outlines the measures we have in place to protect your data and ensure the integrity and confidentiality of your information.
        </p>
        <h4>Data Encryption</h4>
        <p>
            We use industry-standard encryption protocols to secure the transmission of data between your device and our servers. This helps prevent unauthorized interception of your information during transit, ensuring that your data remains confidential.
        </p>
        <h4>Secure Payment Processing</h4>
        <p>
            When you make a payment through EZYSTAY, your payment information is encrypted and transmitted securely to our payment processors. We do not store your full credit card details on our servers, reducing the risk of unauthorized access to sensitive financial information.


        </p>
        <h4>Access Controls</h4>
        <p>
            Access to your personal information is restricted to authorized personnel who have a legitimate need to access it for business purposes. We implement strict access controls and authentication mechanisms to ensure that only authorized individuals can view or modify your data.
        </p>
        <h4>Data Retention</h4>
        <p>
            We retain your personal information only for as long as necessary to fulfill the purposes outlined in our Privacy Policy or as required by law. Once your data is no longer needed, we securely delete or anonymize it to prevent unauthorized access or use.


        </p>
        <h4>Security Monitoring and Incident Response</h4>
        <p>
            We employ continuous monitoring and auditing of our systems to detect and respond to potential security threats in real-time. In the event of a security incident or breach, we have established protocols and procedures to investigate, contain, and mitigate the impact on our users.
        </p>
        <h4>Employee Training and Awareness</h4>
        <p>
            All EZYSTAY employees undergo regular training on security best practices and are required to adhere to strict security policies and procedures. We also promote a culture of security awareness and encourage employees to report any suspicious activities or potential vulnerabilities.
        </p>
        <h4>Third-Party Security</h4>
        <p>
            We carefully vet and select third-party vendors and service providers who handle personal information on our behalf. We require these vendors to maintain appropriate security measures and adhere to our security standards to protect your data.
        </p>
        <h4>Continuous Improvement</h4>
        <p>
            We are committed to continuously improving our security practices and staying abreast of the latest developments in cybersecurity. We regularly review and update our security policies, procedures, and technologies to address emerging threats and protect our users' data.
        </p>
        <h4>Contact Us</h4>
        <p>
            If you have any questions, concerns, or reports regarding the security of your personal information or our security practices, please contact us at <a href="#">security@ezstay.com</a> 
        </p>

      </div>
    </section>


    <section class="services hidden">
        <div class="heading">
            <h1>
               EZSTAY terms of services
            </h1>
        </div>
            <div class="main-termsofservices">
                <h4>Terms of Service</h4>
                <p>
                    These Terms of Service ("Terms") govern your use of the EZYSTAY website and mobile application (collectively referred to as the "Platform") operated by EZYSTAY, Inc. By accessing or using the Platform, you agree to comply with these Terms. If you do not agree with any part of these Terms, you may not use the Platform.
                </p>
                <h4>Account Registration</h4>
                <p>
                    To access certain features of the Platform, you may be required to create an account. You agree to provide accurate, current, and complete information during the registration process and to keep your account information updated at all times. You are responsible for maintaining the confidentiality of your account credentials and for any activities that occur under your account.
                </p>
                <h4>Use of the Platform</h4>
                <p>
                    <ul>
                        You may use the Platform for lawful purposes only and in accordance with these Terms and all applicable laws and regulations. You agree not to:
                        <li>
                            Violate any local, state, national, or international laws or regulations.
                        </li>
                        <li>
                            Use the Platform in any manner that could interfere with, disrupt, or impair the operation of the Platform or the use of the Platform by others.
                        </li>
                        <li>
                            Attempt to gain unauthorized access to any part of the Platform or any user accounts.
                        </li>
                        <li>
                            Use any automated means, including robots, spiders, or scrapers, to access or collect information from the Platform.
                        </li>
                    </ul>
                </p>
                <h4>Intellectual Property</h4>
                <p>
                    All content, features, and functionality available on the Platform, including text, graphics, logos, images, and software, are the property of EZYSTAY or its licensors and are protected by copyright, trademark, and other intellectual property laws. You may not reproduce, distribute, modify, or create derivative works of any content from the Platform without the express written consent of EZYSTAY.
                </p>
                <h4>Disclaimer of Warranties</h4>
                <p>
                    THE PLATFORM IS PROVIDED ON AN "AS-IS" AND "AS-AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. EZYSTAY DISCLAIMS ALL WARRANTIES, INCLUDING BUT NOT LIMITED TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. EZYSTAY DOES NOT WARRANT THAT THE PLATFORM WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT ANY DEFECTS WILL BE CORRECTED.
                </p>
                <h4>Limitation of Liability</h4>
                <p>
                    IN NO EVENT SHALL EZYSTAY OR ITS DIRECTORS, OFFICERS, EMPLOYEES, OR AGENTS BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF THE PLATFORM, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER LEGAL THEORY, EVEN IF EZYSTAY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                </p>
                <h4>Governing Law</h4>
                <p>
                    These Terms shall be governed by and construed in accordance with the laws of [Jurisdiction], without regard to its conflict of law provisions. Any dispute arising out of or in connection with these Terms shall be resolved exclusively by the state and federal courts located in [Jurisdiction].
                </p>
                <h4>Changes to These Terms

                </h4>
                <p>
                    EZYSTAY reserves the right to modify or revise these Terms at any time by posting the updated Terms on the Platform. Your continued use of the Platform following the posting of any changes to these Terms constitutes acceptance of those changes.


                </p>
                <h4>Contact Us</h4>
                <p>
                    If you have any questions or concerns about these Terms, please contact us at <a href="#">legal@ezstay.com.</a> 
                </p>
            </div>
        </div>
    </section>
    <script
      src="https://kit.fontawesome.com/5050694ff5.js"
      crossorigin="anonymous"
    ></script>
    <script>
      const sidebarButtons = document.querySelectorAll(".menu li");
      const sections = document.querySelectorAll("section");

      function hideAllSections() {
        for (let i = 0; i < sections.length; i++) {
          sections[i].classList.add("hidden");
          sidebarButtons[i].classList.remove("active");
        }
      }

      for (let i = 0; i < sidebarButtons.length; i++) {
        sidebarButtons[i].addEventListener("click", function () {
          hideAllSections();
          sections[i].classList.remove("hidden");
          sidebarButtons[i].classList.add("active");
        });
      }
    </script>
  </body>
</html>
