<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags for character set and viewport -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title of the webpage -->
  <title>Dashboard</title>
  <!-- Link to external CSS files -->
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/userdashboard.css">
  <!-- Link to favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
  <!-- Sidebar section -->
  <div class="sidebar">
    <!-- Logo -->
    <div class="logo">
      <a href="/index"><img src="images/logo.svg" alt=""></a>
      
    </div>
    <!-- Menu items -->
    <ul class="menu">
      <li class="active">
        <a href="#">
          <i class="fas fa-tachometer-alt"></i>
          <span>Bookings</span>
        </a>
      </li>
      <li>
        <a href="/personalinfo">
          <i class="fas fa-user"></i>
          
          <span>Personal info</span>
        </a>
      </li>
      <li>
        <a href="security.html">
            <i class="fa-solid fa-lock"></i>
          <span>security & login</span>
        </a>
      </li>
      <!-- Logout button -->
      <li class="logout">
        <a href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          <span>Sign Out</span>
        </a>
      </li>
    </ul>
  </div>

  <section class="all-bookings">
    <!-- All bookings section header, search bar, and table -->
    <div class="header-wrapper">
      <div class="header-title">
        <h1>Bookings</h1>
      </div>
       </div>
    <div id="all-bookings-list">
      <table>
        <thead>
          <tr>
            <th>Hotel</th>
            <!-- <th>Gender</th> -->
            <th>Email</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>RoomType</th>
            <th>Status</th>
            <th>Payment</th>
          </tr>
        </thead>
        <tbody>
          <!-- Booking details will be populated dynamically -->
        </tbody>
      </table>
    </div>
  </section>

  <script src="https://kit.fontawesome.com/5050694ff5.js" crossorigin="anonymous"></script>
  <script src="js/userdashboard.js"></script>
  </body>
  </html>
