* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

a {
    color: #777777;
    text-decoration: none;
}
/* css for navigation bar */

nav {
    background-color: #FFFFFF;
    border: 1px solid #bcbcbc;
    border-right: 0;
    display: flex;

    padding: 10px 0;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    width: 100%;
    /* margin-top: -10%; */
}

/* logo image */
.logo {
    height: 35px;
    width: auto;
}

/* menu bars */
.menu-bar{
    border: none;
    padding: 50px;
}

/* navigation bar right side */
.nav-rightside {
    display: flex;
    margin-right: 40px;
    align-items: center;
}

/* heart image */
.nav-rightside i {
    font-size: 23px;
    /* color: red; */
}

/* sign in button */
.sign-in-btn {
    padding: 5px 10px;
    font-size: 20px;
    margin-left: 10px;
    background-color: #FDDB32;
    border: none;
    border-radius: 10px;
}


/* navigation bar left side */
.nav-leftside {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;

}

.menu i {
    font-size: 18px;
    padding: 0 3px;
    background-color: white;
    color: rgb(0, 0, 0);
}

/* nav bar ends .................. */

/* section  */
.p1 {
    display: flex;
}


/* css for sidebar .............*/
.sidebar {
    margin-top: 60px;
    height:100vh;
    width: 15%;
    border: 1px solid #bcbcbc;
    /* border-bottom: none; */
    border-top: 0;
    position: sticky;
    top: 60px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    /* padding: 10px 10px; */
}

.icon-info {
    font-size: larger;
    font-weight: 500;
    margin-right: 20px;
    color: #00000089;
    text-decoration: none;
}

.iconbtn-1 {
    background-color: rgb(255, 255, 255);
    margin: 29px 0px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 3px;
}
.iconbtn-1 a{
    display: flex;
}

.iconbtn-2 {
    background-color: white;
    margin: 17px 0px;
    border-radius: 10px;
    padding: 5px;
    border: none;
}


.iconbtn-1:hover {
    background-color: #EBEBEB;
}

.iconbtn-2:hover {
    background-color: #EBEBEB;
}

.items-1 i {
    font-size: 28px;
    margin: 0px 34px 0px 24px;
    color: #777777;

}

.items-2 i {
    font-size: 28px;
    margin: 0px;
    color: #777777;
    /* thala for a reason  */
}

/* sidebar ends ................. */


/* css for mainpage.............. */
.mainpage {
    margin-top: 60px;
    margin-bottom: 80px;
    height: 100%;
    width: 83%;
    color: #333333;
    /* border: 1px solid red; */
    padding: 20px 30px 10px 30px;
    /* margin-left: 18%; */
}

/* title of page */
.mainpage span {
    font-size: 2vw;
    font-weight: 500;
}


/* search, date, time booking bar.... */

.search {
    display: flex;
    height: 60px;
    width: 100%;
    max-width: 725px;
    border-radius: 75px;
    margin: 17px auto 10px;
    box-shadow: 1px 1px 12px #bcbcbc;
}

.search form {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 17px
}

.search form input {
    flex: 1;
    border: 0;
    outline: none;
    background: transparent;
    width: 132px;
}

.search-bar-divs {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 2px;
    padding: 5px;
}

.search-bar-divs:hover {
    background-color: rgba(224, 224, 224, 0.54);
    padding: 4px 5px;
    border-radius: 5px;

}

.search-logo {
    padding: 10px;
    /* Adjusted padding */
    border-radius: 50%;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(241, 147, 65);
    border: none;
}

/* ******************************************************* */
.guest-box {
    position: absolute;
    top: 14vw;
    right: 13vw;
    background-color: white;
    margin-left: 100px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);


}

.guestIncr i {
    font-size: 20px;
    color: rgb(175, 175, 175);
}

.guest-adult {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
    padding: 15px;
}

.guestIncr {
    display: flex;
    gap: 8px;
    align-items: center;
}

.noOfGuest {
    width: 10px;
    font-size: 18px;
}

.hr {
    margin: 5px 10px 0px 10px;
}

.crossCut-guest-box {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.crossCut-guest-box:hover {
    background-color: rgb(236, 233, 233);
    border-radius: 50%;
}



/* ************************************************************ */




/* big image */
/* div element in which the img is fixed */
.bigImage {
    height: 17vw;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}

/* actual image */
.hero-img {
    width: 100%;
    height: 100%;
}

.bigImage-text {
    position: absolute;
    top: 20%;
    left: 2%;
    color: white;
    font-size: 1.8vw;
    font-weight: 500;
}


/* css for grid....... */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 272px));
    grid-gap: 2rem;


}

/* card */

.card {
    /* border: 1px solid black; */
    position: relative;
    margin: 3px auto;
    border-radius: 8px;
    overflow: hidden;

}

.card-img-scroll {
    /* display: flex; */
    max-width: 100%;
    height: 13rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

.card-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 13rem;


    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 1s;
}

.card-img:hover {
    scale: 1.2;
    transition: all 0.5s ease-in-out;
}

.card-img>img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-heart {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 22px;
    background-color: #ffffff00;
    border: none;
}

.card-heart i {

    color: rgba(0, 0, 0, 0.3);
}




.card-img-scroll-right {
    position: absolute;
    top: 85px;
    right: 10px;
}

.card-img-scroll-left {
    position: absolute;
    top: 85px;
    left: 10px;
}



.card-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 10px;
}

.card h4 {
    font-size: 16px;
    font-weight: 500;
}

.card p {
    font-size: 13px;
    font-weight: 500;
    color: rgb(116, 114, 114);
}

.card span {
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.card-rating p {
    color: black;
    font-size: 16px;
}

.card-comment {
    background-color: rgb(254, 230, 11);
    color: black;
    padding: 1px 3px;
    border-radius: 3px;
    position: absolute;
    bottom: 3px;
    right: 10px;
}



/* card buttons left and right */
.card-img-scroll-left,
.card-img-scroll-right {
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #ffffff56;
}





/* Footer */

footer {
    /* height: 100%; */
    width: auto;
    border: 1px solid pink;
    /* margin-top: 80px; */
}

.hidden {
    display: none;
}


/*  */
.modal {
    position: fixed;
    /* top: 38%; */
    top: 21%;
    left: 88%;
    transform: translate(-50%, -50%);
    height: 165px;
    width: 313px;


    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    overflow: scroll;
}

.close-modal {
    position: fixed;
    top: 3.2rem;
    right: 1.5rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 15;
}

.bookmarked-item {
    /* border: 1px solid #ccc; */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.bookmarked-item p {
    margin: 0;
  }
  
  .bookmarked-item p:first-child {
    font-weight: bold;
  }

  /* footer */
  
body{

    line-height: 1.5;
    font-family: 'poppins',sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 20px;
    
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{

    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
    
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/* responsive */

@media(max-width: 767px ){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 450px ){
    .footer-col{
        width: 100%;
       
    }
}

  