html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
   background-image: url('/images/headnew.jpg'); background-size:100% 100%; background-position: center;
    color: #020b15;
    padding: 10px;
    text-align: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav {
    background-color:black;
    color: black;
    /* padding: 10px; */
    text-align: center;
    
}

nav a {
    color:white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 5px;
    display: inline-block;
}
nav a:hover {
    background-color: gray; /* Change background color on hover */
border-radius: 8px;  
}

section {
    padding: 20px;
}

/*
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
*/
.Introduction-Ch {
    background-color:white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.visit-chennai {
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.where-eat {
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.what-do {
    background-color:white;
    padding: 15px;
    border-radius: 10px;
}
.when-visit {
    background-color:white;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    color: #010c0b;
}

h3 {
    color: black;
}

p {
    margin:0px;
}

form {
    max-width: 400px;
    

    background-color: #b4d9d6c3;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #e4d2d2;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #a5b1b3;
}

label {
    margin-right: 10px;
}
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
#im1 img {
    
    width: 100%;
    height: 300px;
    
    border-radius: 10px;

    
}

.im2 img {

    width: 50%;
    height: 300px;
    
    border-radius: 10px;
   
}
.im2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.im3 img{

    width: 50%;
    height: 300px;
    border-radius: 10px;

}
#im0 img{

    width: 100%;
    height: 300px;
    border-radius: 10px;    

}
#im0{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    text-align: center;
  }
  
  .main-heading {
    font-size: 32px;
    font-weight: bold;
  }
  
  .subheading {
    font-size: 24px;
  }
  
  .estimated-price {
    font-size: 28px;
    font-weight: bold;
    color: rgb(6, 6, 7);
  }
  
  .additional-info {
    font-size: 16px;
  }
  
  .sbody{


    padding-left: 200px;
    padding-right: 200px;

  }
  
  /*0th nav bar*/
  /* css for navigation bar */

.nav0 {
    background-color: #FFFFFF;
    border: 1px solid #bcbcbc;
    border-right: 0;
    display: flex;
    position: relative;
    padding: 10px 0;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0;
}

/* logo image */
.logo {
    height: 35px;
    width: auto;
}

/* navigation bar right side */
.nav0-rightside {
    display: flex;
    margin-right: 40px;
    align-items: center;
}




/* navigation bar left side */
.nav0-leftside {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;

}



/* nav bar ends .................. */
  
.hotelsr{
    display: flex;   
  margin: 5px;
  }

.info-box {
    flex: 1;
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.info-box p {
    flex: 1;
    margin: px;
    font-weight: bold;
   
}

.rating {
    color: #080808; /* Gold color for stars */
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
}

#bu1 {
    background-color:#f5cf11;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size:large;
}

/*Button Cab*/
.myButton {
    background-color: #d8b710; /* Green background */
    border: none; /* No border */
    color: rgb(14, 14, 14); /* White text color */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Display as inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor pointer on hover */
    border-radius: 10px; /* Rounded corners */
  }


  /* icons css*/
  #prcl {
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #a5b1b3;
    height: min-content;
    margin-top: 105px;
  }

  .item {
    margin-bottom: 10px;
    margin-top: 10px;

  }
  
  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .price {
    font-size: 18px;

  }



  .cont1 {
    display: flex;
  }
  
  .price-list {
    flex: 1; /* Equal width for both boxes */
    padding: 20px;
    
    margin: 10px;
  }

  .city-list {
    text-align: center;
    background-color:rgb(191, 187, 187) ;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.column1 {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    color: rgb(52, 52, 147);
    font-size: larger;
}
#img3 img{


    width: 850px;
    border-radius: 20px;
}