* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
   
}

nav {
    background-color: #FFFFFF;
    border: 1px solid #bcbcbc;
    border-right: 0;
    display: flex;
    
    padding: 10px 0;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    width: 100%;
    /* margin-top: -10%; */
}

.logo {
    height: 35px;
    width: auto;
}

.nav-leftside {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;

}

section{
    display: flex;
    justify-content: center;
}

.container{
 
  height: 43rem;
  width: 50%;
  margin: 10px 10px;
  margin-top: 80px;
  
}

h1{
    font-size: 2rem;
}

.box{
   
    height: 4rem;
    width: 100%;
    margin-top: 2.5%;
    display: flex;
    position: relative;
    
}

.right-side{
   margin-left: 43rem;
   position: absolute;
}


.title{
    margin-bottom: 1%;
    color: rgb(17, 17, 17);
}

.answer{
    color: #5d5555;
}

.btn{
    padding: 5px 4px;
    font-size: 16px;
    background-color: #FDDB32 ;
    border: none;
    border-radius: 10px;
    
}

.modal{
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    height: 4rem;
}

input{
    margin-left: 2vh;
    margin-top: 2vh;
}

.updatebtn{
   
        margin-left: 65vh;
        margin-top: 2vh;
        position: absolute;
    
}

.hidden{
    display: none;
}